@media screen and (max-width:375px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }

    body{
        background-image:url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size:100% 210%;
    }

    #container{
        margin:30px;
        width: 80%;
        border-radius: 20px;
        background-color: rgb(210, 210, 240);
    }

    #main-pic{
        display: flex;
        height: 200px;
        
    }

    .pic{
        display: flex;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .content{
        margin: 0 40px;
        background-color: burlywood;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .content p{
        display: flex;
        font-size: 10px;
        align-items: center;
    }
}