@media screen and (max-width:375px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }

    body{
        background-image:url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size:100% 210%;
    }

    #container{
        margin:30px;
        width: 80%;
        border-radius: 20px;
        background-color: #fff;
    }

    #main-pic{
        display: flex;
        height: 150px;
        
    }

    .pic{
        display: flex;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .content{
        display: flex;
        height: 150px;
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .content p{
        display: flex;
        font-size: 16px;
        padding-top: 15px;
        color: hsl(225, 100%, 83%);
    }
}